@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "SNOWKY";
  src: url("../public/fonts/snowkybrush.ttf");

}
@font-face {
  font-family: "Christmas";
  src: url("../public/fonts/Snowy\ Christmas\ -\ Personal\ Use.otf");
}